language: python
sudo: false
python:
  - 3.6
  - 3.7
  - 3.8


env:
  - DJANGO=1.11
  - DJANGO=2.0
  - DJANGO=2.1
  - DJANGO=2.2
  - DJANGO=3.0


matrix:
  exclude:
    - python: 3.8
      env: DJANGO=1.11

install:
  - pip install tox codecov poetry

script:
  - tox -e "py${TRAVIS_PYTHON_VERSION//.}-d${DJANGO//.}"

after_success:
  - codecov
