language: python
sudo: false
python:
  - 3.6


cache:
  directories:
    - $HOME/.cache/pip

env:
  - DJANGO=1.10
  - DJANGO=1.11
  - DJANGO=2.0


install:
  - pip install tox "coverage<=4.0" codecov

script:
  - tox -e "py${TRAVIS_PYTHON_VERSION//.}-d${DJANGO//.}" -- py.test tests -v

before_success:
  - coverage erase

after_success:
  - coverage combine
  - codecov
