dist: xenial
language: python
sudo: false
python:
  - 3.6
  - 3.7
  - 3.8
  - 3.9


env:
  global:
    - CRYPTOGRAPHY_DONT_BUILD_RUST=1
  jobs:
    - DJANGO=2.2
    - DJANGO=3.0
    - DJANGO=3.1


before_install:
  - curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y

install:
  - pip install tox codecov

script:
  - tox -e "py${TRAVIS_PYTHON_VERSION//.}-d${DJANGO//.}"

after_success:
  - codecov
