[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
"e1839a8" = {path = ".", editable = true}

[dev-packages]
pytest-cov = "*"
django-webtest = "*"
factory-boy = "*"
pytest-django = "*"
django = "*"
pytest-pythonpath = "*"
pytest-echo = "*"
pyfakefs = "*"
pdbpp = "*"
tox = "*"
check-manifest = "*"
sphinx = "*"
pre-commit = "*"

[requires]
python_version = "3.6"
